<div class="container">
    <div class="mt-5 row justify-content-center">
        <div class="col-md-6">
            <form action="/admin/productos/crear" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="titleInput" name="name">
                </div>
                <div class="mb-3">

                    <label for="categoryInput" class="form-label">Categoría</label>
                    <select class="form-select form-select-md" aria-label=".form-select-sm example" id="categoryInput" name="category">
                        <option selected>Selecciona una categoria</option>
                        <option value="Botella">Botella</option>
                        <option value="Camiseta">Camiseta</option>
                        <option value="Sudadera">Sudadera</option>
                        <option value="Taza">Taza</option>
                        <option value="Mochila">Mochila</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="descripInput" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="descripInput" name="description">
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="featured" type="checkbox" id="flexSwitchCheckDefault"
                            value="true">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Featured</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="priceInput" class="form-label">Price</label>

                    <input type="text" class="form-control" id="priceInput" name="price">
                </div>
                <div class="mb-3">
                    <label for="imageInput" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="imageInput" name="imageFile">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Crear Producto</button>
                </div>
            </form>

        </div>
    </div>
</div>