<div class="col-12 col-sm-6 col-md-4 col-lg-3 px-3 mb-3 ">
    <div class="card p-3 mb-3 pt-5">
        <a href="#" class="text-center">
            <img src="/ironshop-app/public/images/products.jpg" alt="image-product" class="img-fluid"
                style="object-fit: contain;height: 150px;" />
        </a>
        <div class="card-body">
            <h6 class="card-title ellipse text-center text-dark" title=""></h6>
            <h6 class="card-title text-center text-dark fw-bold">€</h6>
            <div class="d-flex flex-row justify-content-center" style="height: 40px">
                <a class="favorite btn btn-outline-success d-flex justify-content-center align-items-center rounded-circle ms-2"
                    value="" href="#" role="button">
                    <ion-icon name="heart-outline"></ion-icon>
                </a>
                <a class="user-list btn btn-outline-success d-flex justify-content-center align-items-center rounded-circle ms-2"
                    href="#" role="button">
                    <ion-icon name="reader-outline"></ion-icon>
                </a>
                <a class="btn btn-outline-success d-flex justify-content-center align-items-center rounded-circle ms-2 add-to-cart"
                    href="#" role="button" data-product="" data-quantity="1">
                    <ion-icon name="cart-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</div>