<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item active" aria-current="true" href="/admin">Perfil</a>
                <a class="list-group-item" href="/admin/productos">Productos</a>
                <a class="list-group-item" href="/admin/comentarios">Comentarios</a>
            </div>
        </div>
        <div class="col-md-8">
            <form action="/admin" method="POST">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Nombre de Usuario</label>
                    <input type="text" id="inputName" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" name="passwordHash">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Editar</button>
            </form>

            <form action="/cerrar-sesion" method="POST">
                <button class="btn btn-secondary">Logout</button>
            </form>
        </div>
    </div>
</div>