<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item" href="/admin">Perfil</a>
                <a class="list-group-item" href="/admin/productos">Productos</a>
                <a class="list-group-item" href="/admin/usuarios">Usuarios</a>
                <a class="list-group-item active" aria-current="true" href="/admin/comentarios">Comentarios</a>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Reseñas</th>
                        <th scope="col" width="150px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="">Editar</a>
                            <a class="btn btn-danger btn-sm" href="">Borrar</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="">Editar</a>
                            <a class="btn btn-danger btn-sm" href="">Borrar</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="">Editar</a>
                            <a class="btn btn-danger btn-sm" href="">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>