body {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #606975;
}

main {
  min-height: calc(100vh - 50px - 60px - 300px);
}

#error {
  background-color: var(--bs-danger);
  color: white;
  text-align: center;
  padding: 5px;
  font-weight: 800;
  margin-top: 20px;
}

/* NAVBAR */

.top-nav {
  height: 50px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e1e7ec;
}

.top-nav a i {
  color: #606975;
  text-decoration: none;
}

.navbar ul li a {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0da9ef;
}

.navbar .navbar-brand img {
  height: 70px;
}

.nav-shadow {
  box-shadow: 0px 2px 10px 2px rgba(117, 117, 117, 0.2);
}

.navbar .dropdown-align-right {
  right: -50px;
  position: absolute;
  left: auto !important;
}

/* SLIDER */

.carousel {
  border-top: 1px solid #e1e7ec;
}

.carousel .carousel-item {
  max-height: 800px;
}

.carousel .carousel-item img {
  object-fit: contain;
}

.carousel-item {
  position: relative;
  height: 600px;
}

.carousel-item img {
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 400px;
}

.carousel-item h2 {
  position: absolute;
  top: 200px;
  right: 80px;
  color: white;
  font-size: 60px;
}

.carousel-item a {
  position: absolute;
  top: 450px;
  right: 180px;
}



/* LOGIN */

.login-page img {
  height: calc(100vh - 50px);
  object-fit: contain;
  background-color: var(--bs-primary);
}

.login-page .login-form {
  min-height: 800px;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.login-page .login-form form {
  width: 100%;
}

.login-page form input {
  height: 50px;
}

.login-page form button {
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
}

.login-page .separator {
  color: #777;
  font-size: 18px;
}

/* CARD PRODUCT */

.card {
  border-radius: 7px;
  padding: 20px;
}

.card-bg img {
  object-fit: contain;
  height: 250px;
  width: 280px;
  padding: 20px;
}

/* PROFILE */
.profile-card .profile-card-header {
  height: 200px;
  border-bottom: 1px solid #dee2e6 !important;
}

.profile-card .profile-card-header::before {
  background-image: url("/images/user-cover-img.jpg");
  content: "";
  width: 100%;
  height: 100px;
  display: block;
}

.profile-card .profile-card-header img {
  margin-top: -30px;
  align-items: center;
  justify-content: center;
}

.profile-card .profile-card-header p {
  margin: 0;
}

.profile-card .profile-card-body .nav-link {
  border-radius: 0;
  text-align: left;
  display: flex;
  align-items: center;
  color: #606975;
}

.profile-card .profile-card-body .nav-link:hover {
  background-color: #f5f5f5;
}

.profile-card .profile-card-body .nav-link.active {
  background-color: var(--bs-primary);
  color: #f5f5f5;
}

.profile-card .profile-card-body .nav-link ion-icon {
  margin-right: 10px;
}

.profile form .form-group {
  margin-bottom: 30px;
}

.profile form label {
  color: #606975;
}

.profile form input {
  height: 40px;
}

/* FOOTER */

footer {
  border-top: 1px solid #e1e7ec;
  padding: 40px 50px;
  background-color: #f2f2f2;
}

footer .contact input {
  height: 40px;
  width: 50%;
}



/* PAYMENT STYLES */

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: none
}

.form-control {
    height: 50px;
    border: 2px solid #eee;
    border-radius: 6px;
    font-size: 14px
}

.input {
    position: relative
}

.input i {
    position: absolute;
    top: 16px;
    left: 11px;
    color: #989898
}

.input input {
    text-indent: 25px
}

.super-price {
    top: 0px;
    font-size: 22px
}

.payment-card-body {
    flex: 1 1 auto;
    padding: 24px 1rem !important
}
