<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/slider1.jpeg" class="w-100 d-block img-fluid" alt="...">
            <h2>Somos una tienda <br> online de Ironhack</h2>
            <a class="btn btn-primary btn-lg" href="/">VER PRODUCTOS</a>
        </div>
        <div class="carousel-item">
            <img src="/images/slider2.jpeg" class="w-100 d-block img-fluid" alt="...">
            <h2>Somos una tienda <br> online de Ironhack</h2>
            <a class="btn btn-primary btn-lg" href="/">VER PRODUCTOS</a>
        </div>
        <div class="carousel-item">
            <img src="/images/slider.jpeg" class="w-100 d-block img-fluid" alt="...">
            <h2>Somos una tienda <br> online de Ironhack</h2>
            <a class="btn btn-primary btn-lg" href="#">VER PRODUCTOS</a>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    {{!-- <div class="row">
        <h2 class="text-center fw-bold">Productos Destacados</h2>
        <div class="col-md-3">
            <div class="mt-5">
                <div class="product-card mt-5">
                    alt="product">
                    </a>
                    <h3 class="product-title"><a href="#">IronShop</a></h3>
                    <h4 class="product-price">$34.99</h4>
                    <div class="product-buttons">
                        <a href="">Add to Cart</a>
                        <a href=""><i class="icon-heart"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div> --}}

</div>

<div class="container mt-5">
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-bg">
                <a href="#" class="text-center">
                    <img src="/images/products.jpg" alt="image-product" class="img-fluid"/>
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-title text-center text-secondary fw-bold">Cartera</h6>
                <h6 class="card-title text-center text-secondary fw-bold">30:35€</h6>
                <div class="d-flex flex-row justify-content-center" style="height: 40px">
                    <a class="btn btn-outline-primary rounded-circle" href="/cart" role="button">Add to Cart</a>
                    <a class="user-list btn btn-outline-success d-flex justify-content-center align-items-center rounded-circle ms-2"
                        href="#" role="button">
                        {{!-- <ion-icon name="reader-outline"></ion-icon> --}}
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>

